* {
    font-family: "Raleway", sans-serif
}

:root {
    --primary-bg-color: #2f3241;
    --secondary-bg-color: #252833;
    --third-bg-color: #424555;
    --text-color: #005f96;
    --text-color-hover: #0377bb;
    --margin: 6em;
}

body {
    background-color: var(--primary-bg-color);
    color: #fff;
}

.main {
    margin-left: var(--margin);
}

.pointer {
    cursor: pointer;
}

.logo {
    width: 8em;
}

.navbar-btn {
    width: 100%;
    display: block;
    padding: 1em 1em;
    text-align: left;
    border: none;
    white-space: normal;
    float: none;
    outline: 0;
    text-decoration: none;
    transition: background-color 500ms, color 100ms, padding-left 300ms, transform 100ms, border-radius 100ms;
    transition-timing-function: ease-in-out;
}

.navbar-btn:hover {
    background-color: var(--third-bg-color);
    padding-left: 2.5em;
}

.navbar-btn:active {
    background-color: var(--secondary-bg-color);
    color: var(--text-color-hover);
    transform: scale(0.9);
    border-radius: 5%;
}

.navbar-icon {
    width: auto;
    display: block;
    text-align: center;
    border: none;
    white-space: normal;
    padding: .75em 1em;
    float: left;
    outline: 0;
    text-decoration: none;
    transition: background-color 300ms, color 100ms, padding-left 300ms, transform 100ms;
    transition-timing-function: ease-in-out;
    border-radius: 50%;
    font-size: 20px;
}

.icon {
    width: auto;
    display: block;
    text-align: center;
    border: none;
    white-space: normal;
    padding: .75em 1em;
    float: left;
    outline: 0;
    text-decoration: none;
    transition: background-color 300ms, color 100ms, padding-left 300ms, transform 100ms;
    transition-timing-function: ease-in-out;
    border-radius: 50%;
    font-size: 14px;
    float: left;
    display: none;
    margin: 2px
}

.notif {
    display: block;
}

@media(max-width: 996px) {
    .icon {
        display: block;
    }

    .notif {
        display: none;
    }
}

.margin-top {
    margin-top: 1em;
}

.navbar-icon-container {
    padding-left: 1em;
    padding-right: 1px;
}

.navbar-icon:hover,
.icon:hover {
    background-color: var(--third-bg-color);
}

.navbar-icon:active,
.icon:active {
    background-color: var(--secondary-bg-color);
    color: var(--text-color-hover);
    transform: scale(0.9);
}

.sidebar {
    z-index: 3;
    height: 100%;
    width: var(--margin);
    background-color: var(--secondary-bg-color);
    position: fixed !important;
    overflow: auto;
    position: fixed;
    animation: mymove .5s;
}

.sidebar-tooltip {}

@keyframes mymove {
    from {
        left: -100px;
    }

    to {
        left: 0px;
    }
}

.sidebar-container {
    padding: 0.01em 1em;
    background-color: var(--secondary-bg-color);
}

.active-tab {
    color: var(--text-color);
}

.modal-input {
    color: whitesmoke;
    width: 100%;
    padding: .5em 1em;
    border-radius: .5em;
    border: 1px solid;
    margin-bottom: 1em;
    transition: 600ms;
    border-color: transparent;
    outline: none;
    background-color: var(--third-bg-color);
}

.modal-input-short {
    color: whitesmoke;
    width: 49%;
    padding: .5em 1em;
    border-radius: .5em;
    border: 1px solid;
    margin-bottom: 1em;
    transition: 600ms;
    border-color: transparent;
    outline: none;
    background-color: var(--third-bg-color);
}

.modal-input:focus,
.modal-input-short:focus {
    border-color: var(--text-color-hover);
}

.modal-input:active,
.modal-input-short:active {
    border-color: var(--text-color);
    background-color: var(--primary-bg-color);
    transform: scale(0.96);
}

.modal-body {
    padding: 1em;
}

.modal-btn {
    background-color: var(--primary-bg-color);
    color: var(--text-color);
    text-decoration: none;
    border-radius: .5em;
    border: 1px solid var(--secondary-bg-color);
    padding: .75em .5em;
    transition: 100ms;
    margin-top: 1em;
}

.modal-btn:hover {
    background-color: var(--secondary-bg-color);
    color: var(--text-color-hover);
}

.modal-btn:active {
    background-color: var(--third-bg-color);
    color: var(--text-color-hover);
    transform: scale(0.9);
}

.modal-btn-right {
    margin-left: 1em;
    float: right;
}

.modal-label {
    margin-left: 1em;
    margin-bottom: .25em;
    font-weight: bolder;
}

.password-container {
    display: none;
}

.table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

.table-div {
    width: 100%;
    padding: 2em
}

.table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: var(--text-color);
    color: white;
}

.table-top {
    border-radius: 100px 100px 0px 0px;
}

.table td,
.table th {
    border: 1px solid var(--third-bg-color);
    padding: 8px;
}

.table tr:nth-child(even) {
    transition: 100ms;
    background-color: var(--third-bg-color);
}

.table tr:hover {
    background-color: var(--secondary-bg-color);
}

.product-module-icon {
    background-color: transparent;
    text-decoration: none;
    color: #fff;
    font-size: large;
    text-decoration: none;
    border-radius: 50%;
    border: none;
    transition: 100ms;
}

.product-module-icon:hover {
    color: var(--text-color-hover);
    text-decoration: none;
}

.product-module-icon:active {
    color: var(--text-color);
    text-decoration: none;
    transform: scale(0.9);
}
.product-module-icon-green {
    background-color: transparent;
    text-decoration: none;
    color: #fff;
    font-size: large;
    text-decoration: none;
    border-radius: 50%;
    border: none;
    transition: 100ms;
}

.product-module-icon-green:hover {
    color: green;
    text-decoration: none;
    transform: scale(1.1);
}

.product-module-icon-green:active {
    color: rgb(2, 185, 2);
    text-decoration: none;
    transform: scale(0.9);
}
.bold {
    font-weight: bolder;
}

.tooltip-txt {
    text-align: center;
    padding-left: 0.5rem;
}

.login-button {
    color: whitesmoke;
    width: 33%;
    padding: .5em 1em;
    border-radius: .5em;
    border: 1px solid;

    transition: 600ms;
    border-color: transparent;
    outline: none;
    background-color: var(--third-bg-color);
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 3em;
}

.login-button:hover {
    background-color: azure;
    color: black;
}

.login-label {
    padding-bottom: 1em;
}

.uname-password {
    background-color: var(--primary-bg-color);
    box-shadow:0 0 .25em rgba(0,0,0,.25);
    box-sizing:border-box;
    left:50%;
    padding: 5em;
    position:fixed;
    text-align:center;
    top:50%;
    transform:translate(-50%, -50%);
    
}

.login-image {
    width: 65%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 768px) {
    .login-image {
        width: 100%;
    }

    .uname-password {
        padding: 2em;
        width: 101%;
    }
}



.login-input {
    color: whitesmoke;
    width: 100%;
    padding: .5em 1em;
    border-radius: .5em;
    border: 1px solid;
    margin-bottom: 1em;
    transition: 600ms;
    border-color: transparent;
    outline: none;
    background-color: var(--third-bg-color);

    display: block;
}

.login-div {
    width: 80%;
    margin-left: auto;
    margin-right: auto;

}

#main-login {
    width: 100%;
    height: 100%;
    overflow: hidden;

}

.language-check {

    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: left;
    line-height: 1.1;
}
/* Hide the browser's default radio button */
.language-check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .language-check:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .language-check input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .language-check input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .language-check .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
  }

.language.label {}